.col {
    font-family: Courier;
    color: #cef3f5;
    margin-top: auto;
    margin-bottom: auto;
    padding-right: 20px;
    padding-bottom: 20px;
    padding-left: 20px;
}

.col-sm-12 {
    font-family: Courier;
    color: #cef3f5;
    margin-top: auto;
    margin-bottom: auto;
}

.skull-image {
    display: block;
    width: 75%;
    height: auto;
    margin-left: auto;
    margin-right: auto;
}

.link-image {
    height: 15vh;
    margin-left: auto;
    margin-right: auto;
    padding-top: 20px;
    padding-right: 20px;
    padding-bottom: 20px;
    padding-left: 20px;
}

.wheel {
    
}

.link-caption {
    text-align: center;
    font-family: Courier;
    color: #cef3f5;
}

.link {
    margin-left: auto;
    margin-right: auto;
}

.subtitle {
    font-size: 1.5em;
}

.red {
    color: #ffafaf;
}

.orange {
    color: #ffd7a7;
}

.yellow {
    color: #fdffb7;
}

.green {
    color: #cbffbf;
}

.blue {
    color: #9cf7ff;
}