.col {
    font-family: Courier;
    color: #cef3f5;
    margin-top: auto;
    margin-bottom: auto;
}

.skull-image {
    display: block;
    width: 60%;
    height: auto;
}

.link-image {
    display: block;
    height: 10%;
    width: auto;
}

.link-caption {
    text-align: center;
    font-family: Courier;
    color: #cef3f5;
}